<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" id="navbarLogo" href="#">client&me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" id="navbarLink">
      <li class="nav-item">
        <a class="nav-link" href="#">clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">appointments</a>
      </li>
    </ul>
  </div>
</nav>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-40 p-r-40 p-t-40 p-b-40">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-40 lowercase">
          login
        </span>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" type="text" name="email" placeholder="email" id="email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <span class="lnr lnr-envelope"></span>
          </span>
        </div>

        <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
          <input class="input100" type="password" name="pass" placeholder="password" id="password">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <span class="lnr lnr-lock"></span>
          </span>
        </div>

        <div class="contact100-form-checkbox m-l-4">
          <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
          <label class="label-checkbox100" for="ckb1">
            remember me
          </label>
        </div>

        <div class="container-login100-form-btn p-t-25">
          <button class="login100-form-btn lowercase" id="login">
            login
          </button>
        </div>

        <div class="text-center w-full p-t-40">
          <span class="txt1">
            not a member?
          </span>

          <a class="txt1 bo1 hov1" href="/signup">
            sign up
          </a>
        </div>
      </form>
    </div>
  </div>
</div>