<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id="navbarLogo" href="#">Client&Me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="navbarLink">
            <li class="nav-item">
                <a class="nav-link" href="#">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Appointments</a>
            </li>
        </ul>
    </div>
</nav>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-50 p-b-50">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-55">
                    Sign Up
                </span>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Valid first name is required: Sam">
                    <input class="input100" type="text" name="first_name" placeholder="First Name">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-envelope"></span>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Valid last name is required: Doe">
                    <input class="input100" type="text" name="last_name" placeholder="Last Name">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-envelope"></span>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-envelope"></span>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Brand Name is required">
                    <input class="input100" type="text" name="brand_name" placeholder="Brand Name">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-envelope"></span>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="pass" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-lock"></span>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-16" data-validate="You must confirm your password">
                    <input class="input100" type="password" name="confirm_pass" placeholder="Confirm Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="lnr lnr-lock"></span>
                    </span>
                </div>

                <div class="container-login100-form-btn p-t-25">
                    <button class="login100-form-btn">
                        Sign Up
                    </button>
                </div>

                <div class="text-center w-full p-t-50">
                    <span class="txt1">
                        Already a member?
                    </span>

                    <a class="txt1 bo1 hov1" href="/views/index.handlebars">
                        Log in now
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>