.list-group-item {
  line-height: 2.5;
}

  /* icon prefix focus color */
.input-field .prefix.active {
  color: rgb(30, 146, 159);
}
.indicator {
  background-color: rgb(255, 255, 255) !important;
}
.tabs {
  background-color: #648c9f !important;
}
.tabs .tab a{
color: aliceblue !important;
}
.brand-logo{
  padding-left: 25px !important;
}
.login{
  margin-top: 100px;
}
.nav-wrapper {
  background-color: #648c9f !important;
}